
@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>
<select id="select1">
</select>
<select id="select2">
</select>
<select id="select3">
</select>
@section Scripts{
    <script>
        let select1 = $("#select1");
        let select2 = $("#select2");
        let select3 = $("#select3");
        let selectedCity = "";
        let selectedDistrict = "";
        select1.change(() => {
            selectedCity = $("#select1 :selected").val();
            loaddistrict();
        });
        select2.change(() => {
            selectedDistrict = $("#select2 :selected").val();
            loadroad();
        });
        async function loadcity() {
            let response = await fetch('@Url.Content("~/Hw3/City")');
            let datas = await response.json();
            datas.forEach(city => {
                select1.append(new Option(city, city));
            });
            selectedCity = $("#select1 :selected").val();
            loaddistrict();
        };
        async function loaddistrict() {
            let response = await fetch('@Url.Content("~/Hw3/Districts")' + `?city=${selectedCity}`);
            let datas = await response.json();
            select2.empty();
            datas.forEach(district => {
                select2.append(new Option(district, district));
            });
            selectedDistrict = $("#select2 :selected").val();
            loadroad();
        };
        async function loadroad() {
            let response = await fetch('@Url.Content("~/Hw3/Roads")' + `?district=${selectedDistrict}`);
            let datas = await response.json();
            select3.empty();
            datas.forEach(road => {
                select3.append(new Option(road, road));
            });
        };
        loadcity();

    </script>
}